* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Space Mno", serif;
}

:root {
    --green-100: #f3f9fa;
    --green-200: #c5e4e7;
    --green-300: #9ebbbd;
    --green-400: #7f9d9f;
    --green-500: #5e7a7d;
    --green-600: #547878;
    --green-700: #3d6666;
    --green-800: #00474b;
    --light-green: #26c2ae;
    --white: #ffffff;
}

body {
    background-color: var(--green-200);
}

header {
    display: flex;
    justify-content: center;
    padding-block: 2.8rem;
}

main {
    background-color: var(--white);
    padding: 2rem;
}

.conta,
.gorjeta {
    margin-bottom: 2rem;
}

.conta label,
.gorjeta label,
.pessoas label {
    color: var(--green-500);
    font-weight: 700;
}

.conta div,
.pessoas div {
    margin-top: 0.4rem;
    background-color: var(--green-100);
    padding: 0.4rem 1.2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 0.3125rem;
}

.conta input,
.pessoas input {
    border: none;
    text-align: right;
    width: 100%;
    background: none; 
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--green-800);
    outline: none;
}

.conta input::placeholder,
.pessoas input::placeholder {
    color: var(--green-300);
}

.conta:has(input:focus) div,
.pessoas:has(input:focus) div { /*Quando o usuárior clickar em uma input eu vou colcoar outline*/
    outline: 2px solid var(--light-green);
}

.gorjeta div {
    margin-top: 1rem;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.gorjeta input {
    font-size: 1.5rem;
    font-weight: 700;
    border: none;
    text-align: center;
    outline: none;
    padding-block: 0.4rem;
    border-radius: 0.3125rem;
    background-color: var(--green-800);
    color: var(--white);
}

.gorjeta #outra {
    width: 100%;
    background-color: var(--green-100);
    color: var(--green-800);
}

.gorjeta #outra::placeholder {
    color: var(--green-300);
}

.pessoas #erro {
    display: none;
}